$icomoon-font-family: "Appsbd-Product" !default;
$icomoon-font-path: "fonts" !default;

$abp-appsbd: "\e901";
$abp-elite-licenser: "\e951";
$abp-elite-licenser-ma-addon: "\e903";
$abp-wc-multi-currency: "\e94f";
$abp-mca-logo: "\e950";
$abp-mca-logo-pro: "\e900";
$abp-logo-freetrial: "\e902";
$abp-simple-notification: "\e904";
$abp-top-bar-notification: "\e905";

